name = "开发情况统计表"
range = "A1"

[[column]]
name = "技术小组"
total_string = "合计"

[[column]]
name = "人员数量"
format = "Number"
total_function = "sum"

[[column]]
name = "冒烟不通过"
format = "Number"
total_function = "sum"

[[column]]
name = "冒烟测试"
format = "Number"
total_function = "sum"

[[column]]
name = "集成测试"
format = "Number"
total_function = "sum"

[[column]]
name = "待验收"
format = "Number"
total_function = "sum"

[[column]]
name = "完成验收"
format = "Number"
total_function = "sum"

[[column]]
name = "总数"
format = "Number"
total_function = "sum"

[[column]]
name = "新交易数"
format = "Number"
total_function = "sum"

[[column]]
name = "迁移老交易数"
format = "Number"
total_function = "sum"

[[column]]
name = "开发完成率"
format = "Percent"
formula = "([待验收]+[完成验收]+[集成测试])/[总数]"
total_function = "(开发情况统计表[[#Totals],[集成测试]]+开发情况统计表[[#Totals],[待验收]]+开发情况统计表[[#Totals],[完成验收]])/开发情况统计表[[#Totals],[总数]]"

[[column]]
name = "测试完成率"
format = "Percent"
formula = "([待验收]+[完成验收])/[总数]"
total_function = "(开发情况统计表[[#Totals],[待验收]]+开发情况统计表[[#Totals],[完成验收]])/开发情况统计表[[#Totals],[总数]]"
